<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
    </div>
    <div class="dash-content">
        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>

                <span class="text">Product Detail</span>


            </div>

            <div>
                <div class="col-lg-11">
                    <div class="">
                        </p>
                    </div>
                    {{#each detail_product}}
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <table class="table-bordered check-tbl mb-4"
                                style="color: var(--text-color) !important;border-color:var(--text-color);width:100%;height:100%">
                                <tbody style="max-width:100%;height:100%">
                                    <tr>
                                        <td>Id</td>
                                        <td class="product-price">{{this.product_id}}</td>
                                    </tr>
                                    <tr>
                                        <td>isbn</td>
                                        <td class="product-price">{{this.isbn}}</td>
                                    </tr>
                                    <tr>
                                        <td>Product Name</td>
                                        <td class="product-price">{{this.product_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Image</td>
                                        <td><img src="/images/products/{{this.image}}" alt="book"></td>
                                    </tr>
                                    <tr>
                                        <td>Write By</td>
                                        <td class="product-price">{{#each ../product_author}}
                                            {{this.author_name}} <br>
                                            {{/each}}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td style="max-width:1000px"> {{this.description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Published</td>
                                        <td>{{this.publish_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Time Public</td>
                                        <td>{{../time}}</td>
                                    </tr>
                                    <tr>
                                        <td>Buy Turn</td>
                                        <td>{{this.buy_turn}}</td>
                                    </tr>
                                    <tr>
                                        <td>Quantity</td>
                                        <td>{{this.quantity}}</td>
                                    </tr>
                                    <tr>
                                        <td>Price Input</td>
                                        <td>{{this.price_input}}$</td>
                                    </tr>
                                    <tr>
                                        <td>Price Output</td>
                                        <td>{{this.price_output}}$</td>
                                    </tr>
                                    <tr>
                                        <td>Price Display</td>
                                        <td>{{this.price_display}}$</td>
                                    </tr>
                                    <tr>
                                        <td>Language</td>
                                        <td>{{this.language}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bool Format</td>
                                        <td>{{this.pages}} Pages</td>
                                    </tr>
                                    <tr>
                                        <td>Genre</td>
                                        <td>{{this.genre_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
</section>